*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.newsHeading{
    text-align: center;
    font-family:Helvetica;

    /* color: rgba(255, 1, 1, 0.582); */
    color: #333;
    font-size: 30px;
    margin-top: 130px;
    margin-bottom: 30px;
    
}
.box h5{
    text-align: center;
    font-size: 20px;
    padding: 8px 0;
}


.card_title{
    height: 80px;
    overflow: hidden;

}
.card_text{
    padding: 5px 2px;
    height: 95px;
    overflow: hidden;
}


/* Remove extra left and right margins, due to padding */
.container {
    margin: 15px 5px;
    height: auto;
}

/* Clear floats after the columns */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* Float four columns side by side */
.box {
    float: left;
    width: 25%;
    padding: 10px 10px;
   
  }
  
.card_body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    height: 380px;
 }

.card_update{
    margin: 5px 0;
    font-size: 10px;
}



 @media screen and (max-width: 750px) {
    .box {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }

    .card_body {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
        height: auto;
     }
  }
